html {
  font-size: 10px;
}
body {
  font-family: Railway, Work Sans, sans serif;
  font-size: 1.7rem;
  text-align: center;
  line-height: 1.5;
  color: rgb(37, 30, 1);
  margin: 0;
}
#main {
  background: rgba(247, 242, 231, 0.714);
  margin: auto;
  border-radius: 5px;
  padding: 20px;
}
main {
  display: block;
  margin: auto;
}
#tribute-info {
  display: block;
  font-size: 50px;
}
h5 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
p {
  max-width: 500px;
  display: block;
  text-align: left;
  padding: 20px;
  line-height: 1.5;
  margin: auto;
}
#img-div {
  width: 60%;
  padding-top: 20px;
  padding: 20px 220px 0px 220px;
  margin: auto;
}
img {
  display: block;
  height: auto;
  margin-top: 20px;
}
#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
}
.img-div2 {
  width: 80%;
  padding-top: 20px;
  margin: auto;
}
#img-caption {
  font-size: 1.3rem;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
#img-content-caption {
  display: block;
  width: 70%;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}
#headline {
  margin: 50px 40px;
  text-align: center;
}
ul {
  display: block;
  max-width: 850px;
  text-align: justify;
  line-height: 1.6;
  padding: 20px;
  margin: auto;
}
footer {
  font-size: 20px;
}
